streamlit
fastapi
python-multipart
uvicorn
opencv-python
numpy
pytesseract
pandas
openpyxl
python-Levenshtein
tesseract-ocr
pytesseract
Levenshtein
distance
openpyxl
pdf2image
poppler
imutils
ezdxf
easyocr
cadquery
